<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SalesforceSQLSchemaSync.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SalesforceSQLSchemaSync.WPF.SalesforceSQLSchemaSync" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <SalesforceSQLSchemaSync.WPF.Properties.Settings>
            <setting name="SalesforceURL" serializeAs="String">
                <value />
            </setting>
            <setting name="SalesforceUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="SalesforcePasswordToken" serializeAs="String">
                <value />
            </setting>
        </SalesforceSQLSchemaSync.WPF.Properties.Settings>
        <SalesforceSQLSchemaSync.WPF.SalesforceSQLSchemaSync>
            <setting name="SalesforceURL" serializeAs="String">
                <value />
            </setting>
            <setting name="SalesforceUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="SalesforcePasswordToken" serializeAs="String">
                <value />
            </setting>
        </SalesforceSQLSchemaSync.WPF.SalesforceSQLSchemaSync>
    </userSettings>
</configuration>