<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FastMember" version="1.3.0" targetFramework="net461" />
  <package id="LINQtoCSV" version="1.5.0.0" targetFramework="net461" />
  <package id="SalesforceMagic" version="0.2.3.8" targetFramework="net461" />
  <package id="SFDC.SalesforceApi" version="1.0.0.3" targetFramework="net461" />
</packages>